<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="file_name" default="gunrobo" />
    <arg name="robot_name" default="gunrobo"/>
    <arg name="description_name" default="$(arg robot_name)_desecription" />

    <!-- robot description -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        output="screen" ns="/$(arg robot_name)"/>
    <arg name="robot_model_path" default="$(find gunrobo_description)/xacro/$(arg file_name).xacro" />
    <param name="$(arg description_name)" command="$(find xacro)/xacro $(arg robot_model_path)" />

    <!-- spawn robot -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model $(arg robot_name) -z 0.5" />

    <!-- gazebo plugin load -->
    <rosparam command="load" file="$(find gunrobo_description)/config/joint_state_controller.yaml"
        ns="/$(arg robot_name)" />
    <rosparam command="load" file="$(find gunrobo_description)/config/$(arg robot_name)_controller.yaml"
        ns="/$(arg robot_name)" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/$(arg robot_name)"
        args="gunrobo_controller joint_state_controller" />

</launch>
